<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false"
  version="3.0">

  <display-name>Basic Webapp</display-name>

  <!-- Create mapping for the Servlet. -->
  <servlet>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>org.example.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern> </url-pattern>
  </servlet-mapping>

  <!-- Create mapping for the JSP file. -->
  <servlet>
    <servlet-name>DemoJsp</servlet-name>
    <jsp-file>/WEB-INF/jsp/demo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJsp</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>